html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(bg.jpg);
  color: #ffc;
  font: 13.5px "Lucida Grande", Verdana;
  line-height: 21px;
  text-shadow: 0 1px 0 #000;
}

a {
  color: #996;
}

a:hover {
  color: #c66;
}

#title {
  text-decoration: none;
}

pre, code {
  border: Solid 1px #000;
  background-color: rgba(0, 40, 80, 0.5);
  text-shadow: none;
}

pre {
  margin: 10px;
}

pre code {
  background-color: transparent;
  border: none;
  box-shadow: 3px 4px 15px #01001a;
  font-size: 12.5px;
  line-height: 16px;
  overflow: auto;
}

h1, h2, h3 {
  margin-left: 10px;
  text-shadow: 0 3px 2px #222;
}

#content {
  background-color: rgba(0, 0, 0, 0.2);
  border: Solid 1px #01001a;
  box-shadow: 5px 7px 30px #01001a;
  margin: 30px 0px 200px 80px;
  max-width: 670px;
  padding: 20px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: Solid 1px #01001a;
  text-align: right;
  padding: 5px;
}

#ribbon {
  position: fixed;
  top: 0px;
  right: 0px;
  border: 0px;
}

.part {
  padding-top: 20px;
}

.code {
  display: none;
}

.code.shown {
  display: block;
}

.private {
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

.caution {
  background-image: url(caution.png);
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
