html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(bg.jpg);
  color: #dfbd9c;
}

.code {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
}

.code.shown {
  height: auto;
}
