html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(bg.jpg);
  color: #ffc;
  font: 13px "Lucida Grande", Verdana;
}

#content {
  text-shadow: 0 1px 0 #000;
}

.code {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
}

.code.shown {
  height: auto;
}
